<div class="input-container">
  <button id="button">Clear Chart</button>
  <input id="searchInput" class="" type="text" placeholder="Start Typing Stock Symbal">
</div>

<div class="chart-container" id="chart"></div>

