<!DOCTYPE html>
<html>
<head>
  <title>Nerdwallet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
    <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>
  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
